.answer {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  display: inline-block;
}

.answer:hover {
  background-color: #e0e0e0; 
  cursor: pointer;
}


.answer.active {
  background-color: #80cbc4; 
}

