.exercise {
  margin-bottom: 1rem;
}

.description {
  color: white;
  margin-bottom: 1rem;
}

.answerText {
  color: white;
  margin-bottom: 1rem;
}

.code {
  padding: 1rem;
  background-color: #f5f5f5; /* ili tvoja željena boja */
  border-radius: 14px;
  overflow-x: auto;        /* da se pojavi horizontalni scroll ako linija preduga */
  white-space: pre-wrap;   /* ovo omogućava da \n bude nova linija */
  word-break: break-word;   /* prelomi dugačke reči ako treba */
  font-family: 'Fira Code', monospace; /* opcionalno, da liči na IDE font */
  color: #000;              /* crni tekst, ili promeni po želji */
  margin-bottom: 1rem;
}

.content {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 14px;
  margin-bottom: 1rem;
  display: inline-block;
}

.answers {
  list-style: none;
  padding: 0;
}

.answers li {
  margin: 0.5rem 0;
}
